@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-ps2p {
  font-family: 'Press Start 2P', cursive;
}
  

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin-top: 100px;
  height: 20px; /* Adjust the size of the eye */
  width: 20px; /* Adjust the size of the eye */
  background: #CCC;
 
}

.eye:after {
  position: absolute;
  bottom: 9px; /* Adjust the vertical position of the pupil */
  right: 5px; /* Adjust the horizontal position of the pupil */
  width: 6px; /* Adjust the size of the pupil */
  height: 6px; /* Adjust the size of the pupil */
  background: #000;
  border-radius: 50%;
  content: " ";
}
